.background{
    background-image: linear-gradient(rgba(0,0,0,0.5)),url("/public/food/seven.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.button{
    border:none;
    color: white;
    background-color: #333333;
    border-radius: 0.25rem;
    width: 30px;
    font-weight: bolder;
    font-size: 1.5rem;
}
